<!doctype html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <meta name="description" content="Diseño Web profesional para hacer crecer tu Negocio.">
    <link rel = "shortcut icon" href = "/dist/img/favicon.ico">
    <link rel = "icon" href = "/dist/img/apple-touch-icon/180x180.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/dist/css/animate.min.css">
    <link rel = "stylesheet" href = "/dist/css/main.css" media="screen,projection">
    <title>Ozixmedia | Diseño Web</title>
</head>
<body>

<!--    navbar-->
    <section id="navbar">
        <div class="navbar-content">
            <a href = "#" class = "logo"><img src = "/dist/img/logo.png" alt = "logo">
            <span class="text-logo">
                Ozix<span class="bold">media</span>
            </span></a>
            <ul class="uls">
                <li><a class="navbar-index" href = "#showcase">Inicio</a></li>
                <li><a class="navbar-services" href = "#services">Servicios</a></li>
                <li><a class="navbar-contact" href = "#contact">Contacto</a></li>
             </ul>
            <a class="burger" href = "#">
                <div class="burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
            </a>
            <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#showcase">Inicio</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
        </div>
    </section>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#showcase">Inicio</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#contact">Contacto</a></li>
  </ul>
<!--    showcase-->
<section id="showcase">
        <div class="showcase-content">
            <div class="box-1-title animated fadeInLeft">
                <h1 class="title-landing">Diseño Web para hacer crecer</h1>
            <h1 class="typing">tu <span class="txt-type" data-wait="3000" data-words='["Negocio", "StartUp", "Empresa"]'></span></h1>
                <p>Diseñamos y renovamos tu página para posicionar tu negocio en la Web y mejorar la comunicación con tus clientes.</p>
                <a href = "#services" class = "btn-large waves-effect waves-light">Conoce mas</a>
            </div>
            </div>
</section>
<!--Servicios--------------------------------------->
<section id="services">
    <div class="mobile-first">
        <h1 class="wow fadeInDown">Mobile First</h1>
        <div class="container">
            <div class="text-mobile-first wow fadeInLeft">
        <h2>Páginas diseñadas y optimizadas para dispositivos móviles</h2>
            <p>El 65% de los usuarios de tu página web provendrán de smartphones o tablets.</p>
        </div>
        <div class="image-mobile-first wow fadeInRight">
            <img src = "/dist/img/iphonex.png" alt = "iphonex">
        </div>
        </div>
        <div class="responsive">
            <img src = "/dist/img/web-responsive.png" alt = "responsive" class="wow fadeInLeft">
            <h2 class="wow fadeInRight">Diseño responsive que se adapta a todos los dispositivos</h2>
    </div>
        <div class="responsive2">
            <h2>Diseño responsive que se adapta a todos los dispositivos</h2>
            <img src = "./img/web-responsive-white.png" alt = "responsive">
    </div>
        <div class="responsive3">
            <h2>Diseño responsive que se adapta a todos los dispositivos</h2>
            <img src = "./img/web-responsive2.png" alt = "responsive">
    </div>
    </div>
<!--    Clicks-->
    <div class="clicks">
        <h1 class="center wow fadeIn">Transforma clicks en clientes</h1>
        <div class="container">
            <div class="text-mobile-first">
        <h2 class="center hide-mobile wow fadeIn">Hacemos de nuestros diseños una herramienta única para y productiva para incrementar tu presencia en la Web</h2>
        </div>
        </div>
    </div>

<!--Types websites----------------------------------------------------->
    <div class="types-websites">
        <div class="container">
            <div class="box-card">
                <div class="custom-card wow fadeInRight" style="width: 100%;">
            <div class="face face1-special">
                    <div class="content">
                        <img src = "/dist/img/landing-icon.png" alt = "card">
                        <h3>Landing Page</h3>
                    </div>
            </div>
            <div class="face face2">
                    <p>En una Landing Page se utiliza un diseño minimalista, dando la información suficiente para que el cliente pueda entender lo que se ofrece manteniendo un estilo elegante y creativo</p>
                <a href = "#contact" class = "btn-large">Consulta</a>
            </div>
        </div>
            </div>

            <div class="box-card">
                <div class="custom-card width50 wow fadeInLeft">
            <div class="face face1">
                    <div class="content">
                        <img src = "/dist/img/commerce-icon.png" alt = "card">
                        <h3>E-Commerce</h3>
                    </div>
            </div>
            <div class="face face2">
                    <p>O tienda online, es un sitio Web donde se publican productos para que el cliente pueda comprar en linea.</p>
                <p class="hide-mobile">Las formas de pago que se ofrecen pueden ser mercadopago, paypal, tarjetas de crédito, etc</p>
                <a href = "#contact" class = "btn-large">Consulta</a>
            </div>
        </div>
            <div class="custom-card width50 wow fadeInRight">
            <div class="face face1">
                    <div class="content">
                        <img src = "/dist/img/corporate-icon.png" alt = "card">
                        <h3>Corporativa</h3>
                    </div>
            </div>
            <div class="face face2">
                    <p>Las webs corporativas suelen tener varias secciones donde se muestra toda la información de la empresa y todos sus servicios.</p>
                <a href = "#contact" class = "btn-large">Consulta</a>
            </div>
        </div>
            </div>

            <div class="box-card">
                <div class="custom-card width50 wow fadeInLeft">
            <div class="face face1">
                    <div class="content">
                        <img src = "/dist/img/portfolio-icon.png" alt = "card">
                        <h3>Portfolio</h3>
                    </div>
            </div>
            <div class="face face2">
                    <p>Un portfolio es usado para mostrar trabajos realizados, ya sean obras de arte, proyectos personales, profesionales, educativos, etc</p>
                <a href = "#contact" class = "btn-large">Consulta</a>
            </div>
        </div>
            <div class="custom-card width50 wow fadeInRight">
            <div class="face face1">
                    <div class="content">
                        <img src = "/dist/img/blog-icon.png" alt = "card">
                        <h3>Blog</h3>
                    </div>
            </div>
            <div class="face face2">
                    <p>Un blog es un sitio Web donde se publican articulos regularmente con el objetivo de informar sobre un tema o varios temas en específico.</p>
                <a href = "#contact" class = "btn-large">Consulta</a>
            </div>
        </div>
            </div>
        </div>
    </div>

    <div class="planning">
        <div class="marketing">
        <div class="marketing-text container wow fadeInLeft">
            <h2>Marketing Digital</h2>
            <p>Definimos una estrategia publicitaria analizando tu negocio y posicionandolo en las redes sociales.</p>
            <p class="negrita">Google AdWords | Email Marketing | Google Business | Instagram / Facebook ads</p>
    </div>
                <img class="container wow fadeInRight" src = "/dist/img/digital-marketing.png" alt = "digital-marketing">
        </div>
            <h1 class="wow fadeIn">¿Todavía no estas seguro de que página necesitas?</h1>
        <h2 class="wow fadeIn">Contactanos y te asesoramos</h2>
    </div>
</section>
<!--Contact------------------------------------------>
<section id="contact" class="wow fadeIn">
    <h1 id="target" class="">Envianos Tu Consulta</h1>
        <div class="row container">
    <form action="" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Nombre</label>
        </div>
          <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="name">
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" name="name">
          <label for="email">Email</label>
        </div>
          <div class="input-field col s6">
          <input id="phone" type="number" class="validate" name="name">
          <label for="phone">Teléfono</label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="message" class="materialize-textarea" data-length="120" name="name"></textarea>
            <label for="message">Consulta</label>
          </div>
        </div>
        <input type = "submit" value = "Enviar" class="btn-large-light">
    </form>
  </div>

    </section>

<!--info    -----------------------------------------                -->

<section id="info">
        <div class="bg-dark">
            <div class="container">
            <div class="boxes">
                <div class="box-1 box">
                    <i class="fas fa-envelope fa-3x"></i>
                    <h3>Email</h3>
                    <p>info@ozixmedia.com</p>
                </div>
                <div class="box-2 box">
                    <img src = "/dist/img/phone.png" alt = "phone" style="width: 30%">
                    <h3>Whatsapp</h3>
                    <a href = "https://wa.me/5491121732565" >
                        <p>(+54) 11-2173-2565</p>
                    </a>
                </div>
            </div>
        </div>
            <div class="banner">
                <p>Empecemos Tu Nuevo Proyecto</p>
            </div>
        </div>
    </section>

<!--Footer------------------------------------------>
<footer>
    <div id="footer">
    <div class="container">
        <div class="bottom">
            <a href = "#showcase">Volver al Inicio</a>
            <div class="icons-footer">
                <a href = "https://facebook.com/ozixmedia"><i class="fab fa-facebook fa-2x"></i></a>
                <a href = "https://instagram.com/ozix.media"><i class="fab fa-instagram fa-2x"></i></a>
                <a href = "https://wa.me/5491121732565" ><i class="fab fa-whatsapp fa-2x"></i></a>
            </div>
        </div>
        <p>&copy 2019 Ozixmedia. Todos los derechos reservados.</p>
    </div>
</div>
</footer>
<!--script------------------------------------------>

<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--JS-->
<script src="/dist/js/wow.min.js"></script>
<script src="/dist/js/smooth-scrolling.js"></script>
<script src="/dist/js/typewriter.js"></script>
<script src="/dist/js/navbar.js"></script>
<script type="text/javascript" src="/dist/js/materialize.min.js"></script>
<script>M.AutoInit();</script>
<script>
    $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>
<script>new WOW().init();</script>
<script>
    $('form').on('submit', e => {
      e.preventDefault();

      const email = $('#email').val().trim();
      const name = $('#name').val().trim();
      const last_name = $('#last_name').val().trim();
      const phone = $('#phone').val().trim();
      const text = $('#message').val().trim();

      const data = {
        email,
        name,
        last_name,
          phone,
        text
      };

      $.post('/email', data, () => {
        console.log('Server recieved our data')
      });
      window.location.replace('/redirect')
    });
  </script>
</body>
</html>
