<!doctype html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <link rel = "shortcut icon" href = "/dist/img/favicon.ico">
    <link rel = "icon" href = "/dist/img/apple-touch-icon/180x180.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/dist/css/animate.min.css">
    <link rel = "stylesheet" href = "/dist/css/main.css" media="screen,projection">
    <title>Ozixmedia | Diseño Web</title>
</head>
<body>
<h1 style="padding: 5rem 0; margin: auto; text-align: center; color: white; background: linear-gradient(to bottom left, #2af598,#009efd)" class="wow fadeIn">Muchas gracias por comunicarte, en breve responderemos tu mensaje.</h1>
<footer>
    <div id="footer" class="wow fadeIn">
    <div class="container">
        <div class="bottom">
            <a style="font-weight: bold; font-size: 2rem" href = "/">Volver al Inicio</a>
        </div>
        <p>&copy 2019 Ozixmedia. Todos los derechos reservados.</p>
    </div>
</div>
</footer>
<script src="/dist/js/wow.min.js"></script>
<script>new WOW().init();</script>
</body>
</html>